body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(0, 162, 255);;
}
h1 {
    color: #000000;
}
h2 {
    color: #000000;
}
p {
    color: #000000;
    font-size: 20px;
}
a {
    color: #000000;
    font-size: 25px;
}
ul {
    color: #000000;
    font-size: 20px;
}
li {
    color: #000000;
    font-size: 20px;
}
footer {
    color: #000000;
    font-size: 15px;
}  
table {
    color: #000000;
    font-size: 20px;
}